<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>关于 | 丁铭晖个人博客</title>
    <link rel="stylesheet" href="./css/base.css" />
    <link rel="stylesheet" href="./css/about-message.css" />
    <script src="./JS/vue.js"></script>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <a href="" class="title">丁铭晖个人博客 | 技术博客</a>
        <ul class="menu">
          <li><a href="/">首页</a></li>
          <li><a href="/sitemap.html">地图</a></li>
          <li><a href="/about.html">关于</a></li>
          <li><a href="/message.html">留言</a></li>
        </ul>
        <div class="search-bar">
          <input type="text" placeholder="输入关键词查找" />
          <button>搜索</button>
        </div>
      </div>
    </header>
    <div class="content">
      <div class="content-left">
        <div class="article">
          <div class="text">
            <h2><strong>关于我</strong></h2>
            <hr />
            <p>
              博主
              <a href="/">丁铭晖</a>
              ，江苏省，水乡之城，是一名90后青年。
            </p>
            <p>
              一个野生程序员
              <br />
              喜欢逛B站
              <br />
              前端爱好者
            </p>
            <h2><strong>关于博客</strong></h2>
            <hr />
            <p>
              从2020年至今
              <br />
              博主很懒+词穷，佛系更新…
              <br />
              域名...
              <br />
              服务器 免费空间 -> 国内某收费空间 -> 国外vps -> 阿里云
            </p>
            <p>
              推荐便宜又稳定的xen-VPS吧:
              <a
                href="https://idc.hostshare.cn/page.aspx?c=referral&amp;u=8239"
                rel="nofollow external"
                >HostShare</a
              ><br />推荐自己在用的国外vps服务商：<br />2C2G3M香港优惠后最低38元
              <a
                href="https://locvps.wenjingnetwork.com/page.aspx?c=referral&amp;u=12409"
                >LOCVPS&nbsp; (优惠码pn30off )</a
              >
            </p>
          </div>
        </div>
        <div class="comments-list" id="commentsList">
          <h3>关于：目前有{{ dataList.length }} 条留言</h3>
          <div class="comment-content" v-if="dataList.length">
            <div
              class="questioner"
              v-for="(data,index) in dataList"
              :key="index"
            >
              <div class="questioner-info">
                <img src="./img/default.jpg" alt="" />
                <strong>{{ data.user_name }}</strong>
                <span class="datetime">
                  发表于 {{ data.ctime }}
                  <span class="reply">
                    <a
                      href="#sendComment"
                      class="reply-link"
                      @click="reply(data.id)"
                      >[回复]</a
                    >
                  </span>
                </span>
              </div>
              <p>{{ data.comment }}</p>
              <ul class="children" v-for="(reply,index) in replyList">
                <template v-if="data.id == reply.comment_id">
                  <div class="comment-content">
                    <div class="questioner">
                      <div class="questioner-info">
                        <img src="./img/default.jpg" alt="" />
                        <strong>{{ reply.user_name }}</strong>
                        <span class="datetime">
                          发表于 {{ reply.ctime }}
                          <span class="reply">
                            <a
                              href="#sendComment"
                              class="reply-link"
                              @click="reply(data.id)"
                              >[回复]</a
                            >
                          </span>
                        </span>
                      </div>
                      <p>{{ reply.comment }}</p>
                    </div>
                    <ul class="children"></ul>
                  </div>
                </template>
              </ul>
            </div>
          </div>
        </div>
        <div class="pagination">
          <ul></ul>
        </div>
        <div class="well" id="sendComment">
          <div class="response">
            <h3>发表评论</h3>
            <div class="comment-form">
              <div class="form-group">
                <input type="hidden" v-model="commentId" />
              </div>
              <div class="row">
                <div class="left">
                  <div class="form-group">
                    <input
                      type="text"
                      name="author"
                      id="author"
                      placeholder="昵称"
                      class="form-control"
                      v-model="name"
                    />
                  </div>
                </div>
                <div class="right">
                  <div class="form-group">
                    <input
                      type="text"
                      name="email"
                      id="email"
                      placeholder="邮箱 (评论被回复时你能收到通知)"
                      class="form-control"
                      v-model="email"
                    />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <textarea
                  name="comment"
                  id="comment"
                  class="form-control"
                  placeholder="无意义内容我可能不会回复你"
                  rows="3"
                  v-model="content"
                ></textarea>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="left">
                    <input
                      type="text"
                      name="validcode"
                      id="validinput"
                      class="form-control"
                      size="6"
                      maxlength="5"
                      tabindex="4"
                      placeholder="验证码"
                      v-model="inputRandomCode"
                    />
                  </div>
                  <div class="right">
                    <span v-html="randomSvg" @click='changeCaptcha'></span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <button class="btn" @click="addComment">提交留言</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content-right">
        <div class="panel" id="tags-cloud">
          <div class="panel-header">随机标签云</div>
          <div class="panel-body">
            <a
              :href="'/?tagId=' + tag.id"
              v-for="(tag,index) in tags"
              :key="index"
              :style="{color: randomColor(),fontSize: randomSize()}"
              class="a-cloud"
              >{{ tag.tag }}&nbsp;</a
            >
          </div>
        </div>
        <div class="panel" id="popular-news">
          <div class="panel-header">最新热门</div>
          <ul class="list-group">
            <li class="list-group-item" v-for="(news,index) in allNews">
              <a :href="'/blogDetail.html?id=' + news.id">{{ news.title }}</a>
            </li>
          </ul>
        </div>
        <div class="panel" id="latest-comments">
          <div class="panel-header">最新评论</div>
          <ul class="list-group">
            <li
              class="list-group-item comments"
              v-for="(comment,index) in commentsList"
              :key="index"
            >
              <div class="list-group-item-header">
                <span class="comment-author">{{ comment.user_name }}</span>
                <span class="pull-right">[{{ comment.ctime }}]</span>
              </div>
              <div class="list-group-item-header-text">
                <template v-if="comment.blog_id == -1">
                  <a href="/about.html">{{ comment.comment }}</a>
                </template>
                <template v-else-if="comment.blog_id == -2">
                  <a href="/message.html">{{ comment.comment }}</a>
                </template>
                <template v-else>
                  <a :href="'/blogDetail.html?id=' + comment.blog_id">{{ comment.comment }}</a>
                </template>
              </div>
            </li>
          </ul>
        </div>
        <div class="panel">
          <div class="panel-header">友情链接</div>
          <table class="table">
            <tbody>
              <tr class="list-group-item">
                <td><a href="http://www.yuanjin.tech/">袁进的个人博客</a></td>
                <td><a href="https://winter1141151662.github.io/">cjy个人博客</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <footer class="footer" id="footer">
      <ul class="list">
        <li class="list-item" v-for="(tag,index) in tags" :key="index">
          <a :href="'/?tagId=' + tag.id">{{ tag.tag }}</a>
        </li>
      </ul>
      <p>
        Copyright © 2020-2020
        <a href="/">丁铭晖个人博客</a>
        <!-- <a href="" target="_blank">站长统计</a> -->
      </p>
    </footer>
    <script src="./JS/axios.min.js"></script>
    <script src="./JS/base.js"></script>
    <script src="./JS/about.js"></script>
  </body>
</html>
